@model Actividad1ZooPlanet.Models.ViewModels.IndexEspeciesViewModel
@{
    Layout = "Layout";
}
<h1>
    <img src="~/clases/@(Model.Id).png" /> @Model.Especie
</h1>
<div class="listaEspecies2">
@foreach (var esp in Model.ListaEspecies)
{
    <a href="~/especies/detalles/@(esp.Nombre)">
        <img src="~/especies/@(esp.Id).jpg" title="@esp.Nombre" />
    </a>
}
</div>

<script>
    var c = document.querySelector("main h1 img").cloneNode();
    document.querySelector("main h1").appendChild(c);
</script>
